name: barbie-server-deployment
include:
  - stacks/docker-compose.monitoring.yml
services:
  borgmatic:
    image: ghcr.io/borgmatic-collective/borgmatic:2.1.2@sha256:961533d6135fd67736e9fee0f7cebc4926b57840d4a210be0a0cf2de6b004996
    container_name: borgmatic
    depends_on:
      - rclone
    volumes:
      - /root/.ssh:/root/.ssh:ro
      - ${DATA_DIR}/repository:/mnt/repository:shared
      - ${DATA_DIR}/borgmatic/config:/etc/borgmatic.d
      - ${DATA_DIR}/borgmatic/cache:/root/.cache/borg
      - ${DATA_DIR}/borgmatic/borg:/root/.config/borg
      - cloud:/etc/borgmatic.d/barbie/cloud
      - workspaces:/etc/borgmatic.d/barbie/workspaces
      - ./borgmatic/crontab.txt:/etc/borgmatic.d/crontab.txt:ro
      - ./borgmatic/hooks:/usr/local/bin/hooks:ro
    secrets:
      - smtp_password
      - borg_passphrase
    environment:
      - TZ
      - RUN_ON_STARTUP
      - ADMIN_EMAIL
      - SMTP_HOST
      - SMTP_USER
      - FILE__SMTP_PASSWORD=/run/secrets/smtp_password
    restart: unless-stopped
    labels:
      readme.description: Simple, configuration-driven backup software.
      readme.links.github: https://github.com/borgmatic-collective/borgmatic
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse:rwm
    security_opt:
      - apparmor:unconfined
  rclone:
    image: rclone/rclone:1.73.1@sha256:c08f5e100e1c4fa4deb1315b56a47c0cc0e765222b7c0834bc93305f2e4d85c0
    container_name: rclone
    volumes:
      - ${DATA_DIR}/rclone:/config/rclone
      - ${DATA_DIR}/repository:/data/repository:shared
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
      - /etc/fuse.conf:/etc/fuse.conf:ro
    command: >-
      mount blaze:borgmatic /data/repository 
        --allow-non-empty 
        --vfs-cache-max-size 10G 
        --vfs-write-back 10s 
        --vfs-write-wait 30s 
        --vfs-cache-mode full 
        --cache-dir=/tmp/cache
    restart: unless-stopped
    labels:
      readme.description: >-
        Command-line program to sync files and directories to and from different cloud storage providers.
      readme.links.web: https://rclone.org/
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse:rwm
    security_opt:
      - apparmor:unconfined
volumes:
  cloud:
    driver_opts:
      type: 'nfs'
      o: 'addr=${NFS_HOST},nolock,soft,nfsvers=4'
      device: ':/mnt/turbo/cloud'
  workspaces:
    driver_opts:
      type: 'nfs'
      o: 'addr=${NFS_HOST},nolock,soft,nfsvers=4'
      device: ':/mnt/turbo/workspaces'
secrets:
  smtp_password:
    file: ./.secrets/smtp_password
  borg_passphrase:
    file: ./.secrets/borg_passphrase
